outdoors/x64/Release/v_repExtHackflight.iobj
outdoors/x64/Release/v_repExtHackflight.ipdb
outdoors/x64/Release/v_repExtHackflight.dll
outdoors/Release/v_repExtHackflight.iobj
outdoors/Release/v_repExtHackflight.ipdb
outdoors/Release/v_repExtHackflight.dll
outdoors/v_repExtHackflight.VC.db
libv_repExtHackflight.*
sonar/getimu
common/tests/readserial
*.o
*.swp
*~
*#
obj
Debug
ipch
*.pyc
*.sdf
*.user
*.suo
*.opensdf
*.tlog
*.obj
*.manifest
*.exp
*.lastbuildstate
*.lib
*.log
*.pdb
*.cache
vrep/*/*.so
*/*.dylib
